::ng-deep {
    .dirver-warning {
        margin-left: auto;
        display: flex;
        align-items: center;

        >*:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
    
    .dirver-warning-main {
        margin-top: 1em;
        margin-bottom: 0.5em;
        display: block;
        text-align: center;
    }

    .page-disabled {
        .field:not(.ignore-disable) {
            opacity: 0.3;
        }
    }
}

:host {
    display: block;
    padding-top: 0;
}

::ng-deep mat-tab-body>* {
    padding: 1rem;
}

// app-system-ready {
//     display: flex;
// }

mat-tab-group {
    width: 100%;
    height: 100%;
}