<app-system-ready>
  @if(nonNativeWarning()){
  <div>
    <mat-icon class="warn-color" style="vertical-align: middle;">warning</mat-icon>
    <span i18n>A headset is currently running with a non-native driver. Many settings will not work.</span>
  </div>
  }
  @if(webView2Outdated()){
  <div style="color:red">
    ⚠️
    <span i18n>The WebView2 version is too old. Please download the Evergreen Bootstrapper and run it as administrator. </span>
    <a href="https://developer.microsoft.com/en-us/microsoft-edge/webview2/?form=MA13LH#download" target="_blank" rel="noopener noreferrer">https://developer.microsoft.com/en-us/microsoft-edge/webview2/?form=MA13LH#download</a>
    <div><span i18n>Current version: </span><span>{{ webView2Version() }}</span></div>
  </div>
  }
  @if(appUpdateService.updateInfo()?.installAvailable){
  <div>
    <mat-icon class="warn-color" style="vertical-align: middle;">warning</mat-icon>
    <span i18n>You still need to install the driver into SteamVR on the About page.</span>
  </div>
  }
  @if(driverEnablePrompt()){
  <div class="dirver-warning-main">
    <mat-icon class="warn-color" style="vertical-align: middle;">warning</mat-icon>
    @if(neutralDriverEnabled()){
    <span i18n>This driver is locked out by the main Custom Headset driver. Enable to disable the main driver and enable this vendor driver.</span>
    }@else{
    <span i18n>Custom Headset's driver is disabled</span>
    }
    <button mat-stroked-button i18n (click)="enableDriver()">Enable</button>
    @if(driverBlocked()){
    <button mat-stroked-button i18n (click)="unblockAllDrivers()">Unblock All</button>
    }
  </div>
  }

  <!-- Outer group tabs -->
  <mat-tab-group [selectedIndex]="selectedGroupIndex" (selectedIndexChange)="onGroupChange($event)">
    @for (group of tabGroups; track group.name) {
    <mat-tab [label]="group.name">
      <ng-template matTabContent>
        @if(isStandaloneGroup(group)) {
          <!-- Standalone: render content directly, no inner tabs -->
          <div class="body-padding">
            @for (tab of group.tabs; track tab.headsetType) {
              @if(tab.type === 'MeganeX8K') {
                <app-meganex-x8-k (navigateToGeneralTab)="switchToGeneralTab()" />
              }
              @if(tab.type === 'General') {
                <app-general
                  driverName=""
                  settingField="" />
              }
            }
          </div>
        } @else {
          <!-- Grouped: always show inner tabs (even with single tab, more may be added) -->
          <mat-tab-group [selectedIndex]="selectedTabInGroupIndex" (selectedIndexChange)="onTabInGroupChange($event)">
            @for (tab of group.tabs; track tab.headsetType) {
            <mat-tab [label]="tab.label">
              <ng-template matTabContent>
                <div class="body-padding">
                  @if(tab.type === 'DreamAir') {
                    <app-dream-air (navigateToGeneralTab)="switchToGeneralTab()" />
                  }
                  @if(tab.type === 'DreamAirSE') {
                    <app-dream-air-se (navigateToGeneralTab)="switchToGeneralTab()" />
                  }
                  @if(tab.type === 'CrystalSuperMicroOLED') {
                    <app-crystal-super-micro-oled (navigateToGeneralTab)="switchToGeneralTab()" />
                  }
                  @if(tab.type === 'CrystalSuper50PPD') {
                    <app-crystal-super-50ppd (navigateToGeneralTab)="switchToGeneralTab()" />
                  }
                  @if(tab.type === 'CrystalSuper57PPD') {
                    <app-crystal-super-57ppd (navigateToGeneralTab)="switchToGeneralTab()" />
                  }
                  @if(tab.type === 'CrystalSuperUltrawide') {
                    <app-crystal-super-ultrawide (navigateToGeneralTab)="switchToGeneralTab()" />
                  }
                  @if(tab.type === 'CrystalLight') {
                    <app-crystal-light (navigateToGeneralTab)="switchToGeneralTab()" />
                  }
                  @if(tab.type === 'CrystalOG') {
                    <app-crystal-og (navigateToGeneralTab)="switchToGeneralTab()" />
                  }
                  @if(tab.type === 'Pimax5K') {
                    <app-pimax-5k (navigateToGeneralTab)="switchToGeneralTab()" />
                  }
                  @if(tab.type === 'Pimax8K') {
                    <app-pimax-8k (navigateToGeneralTab)="switchToGeneralTab()" />
                  }
                  @if(tab.type === 'PimaxArtisan') {
                    <app-pimax-artisan (navigateToGeneralTab)="switchToGeneralTab()" />
                  }
                </div>
              </ng-template>
            </mat-tab>
            }
          </mat-tab-group>
        }
      </ng-template>
    </mat-tab>
    }
  </mat-tab-group>
</app-system-ready>