@mixin formStyle() {

    display: flex;
    flex-direction: column;


    button {
        margin: 0.5rem 0;
    }



    .field {
        position: relative;
        display: grid;
        flex-shrink: 0;
        grid-template-columns: 22rem 1fr;
        min-height: 3rem;
        border-bottom: 1px solid var(--mat-sys-outline-variant);

        button {
            height: 2rem;
        }

        &:last-child {
            border-bottom: none;
        }

        .title {
            display: flex;
            align-items: center;
            position: relative;
            user-select: none;

            app-reset-button {
                margin-left: auto;
            }

            &:ng-deep button {
                margin: 0 0.5rem;
            }

            pointer-events: none;

            &::after {
                content: '';
                top: 10%;
                height: 80%;
                border-right: 1px solid var(--mat-sys-outline-variant);
                position: absolute;
                right: 0.5rem;
            }

            padding-right: 1rem;
        }

        .section-title {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-column: span 2;
            position: relative;
            user-select: none;
            background: linear-gradient(90deg, transparent, var(--mat-sys-surface-container) 30% 70%, transparent);
            padding-right: 1rem;
        }

        .value {
            width: 10%;
        }

        .note {
            padding: 0.5rem 1rem;
            font-size: 95%;

            p {
                margin: 0.5rem;
            }
        }

        .control {
            display: flex;
            align-items: center;
            flex: 1 1 auto;

            input[type=number] {
                width: 7rem;
                font-size: 130%;
                margin-right: 1rem;
                text-align: right;
            }

            mat-slider,
            mat-select {
                flex: 1 1 auto;
            }

            mat-select {
                margin: 0 0.5rem;
            }
        }

    }
}