<div class="launch-section">
  <p class="launch-info" i18n>Pimax EVO OpenPort is the most reliable way to use this driver and is required for SLAM headsets. Start Pimax OpenPort and then launch SteamVR.</p>
  <div class="launch-buttons">
    <button mat-raised-button mat-stroked-button  color="primary" (click)="onLaunchSteamVR()">
      <mat-icon>play_arrow</mat-icon>
      <span i18n>Launch SteamVR</span>
    </button>
    <button mat-raised-button mat-stroked-button [color]="isLaunching() ? 'warn' : 'primary'" (click)="onLaunchHeadset()">
      <mat-icon>{{ isLaunching() ? 'stop' : 'play_arrow' }}</mat-icon>
      <span i18n>{{ isLaunching() ? 'Cancel Launch' : 'Legacy Lighthouse Launch' }}</span>
    </button>
  </div>
  <p class="launch-info legacy-desc" i18n>Legacy Lighthouse Launch is for running Lighthouse Pimax headsets on Pimax Play without OpenPort. When using OpenPort, just launch SteamVR.</p>
  <p class="launch-info" i18n>It has been {{ daysSinceDreamAirBlocked }} days since the Lighthouse headsets could start without Pimax Play if Pimax allowed it for everyone.</p>
  @if(advanceMode || launchPimaxOnStartup){
  <!-- @if(launchPimaxOnStartup){ -->
  <div class="launch-startup-toggle">
    <mat-slide-toggle class="small-toggle" [(ngModel)]="launchPimaxOnStartup" (ngModelChange)="saveLaunchSetting()"></mat-slide-toggle>
    <span i18n matTooltip="Automatically launch the Pimax headset when the GUI is opened. This will only launch if a Pimax headset is enabled. The last used launch method will be used." i18n-matTooltip matTooltipPosition="above" style="cursor: help;">Launch on GUI Startup</span>
  </div>
  }
</div>
