app-system-ready {
    display: flex;
    flex-direction: column;
}
:host{
     padding: 1rem;
}
.actions {
    flex-shrink: 0;
    margin: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    >*:not(:first-child) {
        margin-left: 1rem;
    }

    .text {
        display: flex;
        align-items: center;
    }
}

.list {
    flex: 1 1 auto;
    border-left: 1px solid var(--mat-sys-outline-variant);

    .item {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        box-sizing: border-box;

        &.alternate {
            background-color: var(--mat-sys-surface-container-low);
        }

        button {
            margin: 0 0.5rem;
        }

        .name {
            flex: 1 1 auto;
        }
    }
}



.viewport {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;

    app-distortion-profile-viewer {
        flex: 1 1 auto;
    }
}