@if(dis.values() && dss.values()){
<div class="actions">
    <button mat-stroked-button i18n (click)="importFile()">Import</button>
    <div><span i18n>Current Profile : </span>{{settings?.distortionProfile}}</div>
</div>
<div class="container">
    <app-distortion-profile-viewer [profiles]="displayedCurve"></app-distortion-profile-viewer>
    <div class="list">
        <cdk-virtual-scroll-viewport [itemSize]="50" class="viewport">
            <div class="item" [class.alternate]="odd" *cdkVirtualFor="let profile of profiles;let odd = odd;">
                <span class="name"
                    [class.primary-color]="settings?.distortionProfile==profile.name">{{profile.name}}</span>
                <button mat-icon-button matTooltip="Show" (click)="showProfile(profile)" i18n-matTooltip
                    [disabled]="displayedCurve.includes(profile.name)">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Apply" (click)="applyProfile(profile.name)" i18n-matTooltip
                    [disabled]="settings?.distortionProfile==profile.name">
                    <mat-icon>check</mat-icon>
                </button>
                <button mat-icon-button (click)="exportFile(profile)" matTooltip="Export" i18n-matTooltip>
                    <mat-icon class="tertiary-color">share</mat-icon>
                </button>
                <button [disabled]="settings?.distortionProfile==profile.name" matTooltip="Delete" class="warn"
                    mat-icon-button i18n-matTooltip (click)="deleteProfile(profile)">
                    <mat-icon [class.warn-color]="settings?.distortionProfile!=profile.name">delete</mat-icon></button>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>
}@else{
    <app-driver-troubleshooter/>
}