@if(settings){
@if(defaults){
<div class="field ignore-disable">
    <app-field-note type="steamvrRestart" />
    <div class="title">
        <span i18n>Enable MeganeX 8K Driver</span>
        <app-field-tip i18n-info
            info="When enabled, the Custom Headset driver will run the MeganeX superlight 8K." />
        <app-reset-button [canReset]="settings.enable!=defaults.enable"
            (resetClick)="resetOption('enable')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.enable" (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
        @if(driverWarning()){
        <div class="dirver-warning">
            <mat-icon class="warn-color">warning</mat-icon>
            <span i18n>Shiftall driver is not disabled</span>
            <button mat-stroked-button i18n (click)="disableDriver()">Disable</button>
        </div>
        }
        @if(driverEnablePrompt()){
        <div class="dirver-warning">
            <mat-icon>info</mat-icon>
            <span i18n>Shiftall driver is also disabled</span>
            <button mat-stroked-button i18n (click)="enableDriver()">Enable</button>
        </div>
        }
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Resolution</span>
        <app-field-note type="steamvrRestart" />
        <app-field-tip i18n-info
            info="The resolution to run the DisplayPort connection at." />
        <app-reset-button [canReset]="resolutionModel!=defaults.resolutionX"
            (resetClick)="resetResolution()"></app-reset-button>
    </div>
    <div class="control">
        <mat-select [(ngModel)]="resolutionModel" (ngModelChange)="setResolution()">
            @for(p of resolutionOptions;track p.x){
            <mat-option [value]="p.x">{{p.name}}&nbsp;({{p.x}}x{{p.y}})</mat-option>
            }
        </mat-select>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Distortion Profile</span>
        <app-field-tip i18n-info
            info="The distortion profile to use for the headset. See the distortion tab for more options." />
        <app-reset-button [canReset]="settings.distortionProfile!=defaults.distortionProfile"
            (resetClick)="resetOption('distortionProfile')"></app-reset-button>
    </div>
    <div class="control">
        <mat-select [(ngModel)]="settings.distortionProfile" (ngModelChange)="saveConfigSettings()">
            @for(p of profiles;track p.name){
            <mat-option [value]="p.name">{{p.name}}</mat-option>
            }
        </mat-select>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>IPD</span>
        <app-field-tip i18n-info
            info="The inter pupillary distance of the virtual cameras in SteamVR applications. You set the headset's physical IPD in the Shiftall Configurator. This IPD should be matched with what you set in the Shiftall Configurator to get the correct world scale." />
        <app-reset-button [canReset]="settings.ipd!=defaults.ipd"
            (resetClick)="resetOption('ipd')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.ipd" step="0.5" (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="80" min="50" step="0.5" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.ipd" (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Max Fov Horizontal</span>
        <app-field-tip i18n-info
            info="The maximum that will be displayed horizontally in the headset. The actual fov can be lower if this fov can't fit on the screen after distortion. This may sometimes require restarting the game to fully apply." />
        <app-reset-button [canReset]="settings.maxFovX!=defaults.maxFovX"
            (resetClick)="resetOption('maxFovX')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.maxFovX" step="1" (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider [max]="Math.ceil(dis.values()?.resolution?.fovMaxX || 115)" min="1" step="1">
            <input matSliderThumb [(ngModel)]="settings.maxFovX" (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Max Fov Vertical</span>
        <app-field-tip i18n-info
            info="The maximum that will be displayed vertically in the headset. The actual fov can be lower if this fov can't fit on the screen after distortion. This may sometimes require restarting the game to fully apply." />
        <app-reset-button [canReset]="settings.maxFovY!=defaults.maxFovY"
            (resetClick)="resetOption('maxFovY')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.maxFovY" step="1" (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider [max]="Math.ceil(dis.values()?.resolution?.fovMaxY || 99)" min="1" step="1">
            <input matSliderThumb [(ngModel)]="settings.maxFovY" (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Resolution Info</span>
        <app-field-tip i18n-info
            info="Displays information about the resolution SteamVR will be run at and what the optimal resolution is. Settings like fov will effect this. This will only be updated while the MeganeX is actively running under this driver." />
    </div>
    <div class="control">
        <button mat-raised-button (click)="toggleResolutionDisplay()">
            <span i18n *ngIf="!resolutionInfoDisplay()">Show Details</span>
            <span i18n *ngIf="resolutionInfoDisplay()">Hide Details</span>
        </button>
    </div>
</div>
@if(resolutionInfoDisplay()){
<div class="field">
    <div class="note">
        @if(dis.values();as info){
        @if(info.resolution;as res){
        <div class="note">
            
            @if(res.fovX){
            <p>
                <span i18n>Current rendered FOV</span>
                <span>&nbsp;:&nbsp;</span>
                <span>{{res.fovX.toFixed(1)}}x{{res.fovY.toFixed(1)}}</span>
            </p>
            }
            @if(res.fovMaxX){
            <p>
                <span i18n>Maximum possible FOV</span>
                <span>&nbsp;:&nbsp;</span>
                <span>{{res.fovMaxX.toFixed(1)}}x{{res.fovMaxY.toFixed(1)}}</span>
            </p>
            }
            @if(res.renderResolution100PercentX){
            <p>
                <span i18n>100% Render resolution for SteamVR</span>
                <span>&nbsp;:&nbsp;</span>
                <span>{{res.renderResolution100PercentX}}x{{res.renderResolution100PercentY}}</span>
            </p>
            <p>
                <span i18n>Render resolution for 1:1 sample per panel pixel</span>
                <span>&nbsp;:&nbsp;</span>
                <span>{{res.renderResolution1To1X}}x{{res.renderResolution1To1Y}}</span>
                <span>&nbsp;(&nbsp;{{res.renderResolution1To1Percent|number:'1.0-1'}}%&nbsp;)</span>
            </p>
            }@else {
            <p><span i18n>Headset not connected</span></p>
            }
            @if(steamVRRunning();as steamvr){
            @if(!steamvr.updated || !steamvr.running){
            <p><span class="warn-color" i18n>SteamVR is not running, so this information is not updated.</span></p>
            }
            }@else{
            <p><span class="warn-color" i18n>SteamVR is not running, so this information is not updated.</span></p>
            }
        </div>
        }
        }
    </div>
</div>
}
<div class="field">
    <div class="title">
        <span i18n>FOV Zoom</span>
        <app-field-tip i18n-info
            info="Adjusts how zoomed in the FOV is. This can affect world scale. If you don't mind distortion this can be decreased too far to increase visible FOV." />
        <app-reset-button [canReset]="settings.fovZoom!=defaults.fovZoom"
            (resetClick)="resetOption('fovZoom')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.fovZoom" step="0.005" (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="1.1" min="0.8" step="0.005" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.fovZoom" (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Distortion Zoom</span>
        <app-field-tip i18n-info
            info="Adjusts how zoomed in the distortion profile is. This can be used to correct for diopters with higher set diopters needing a positive zoom. However it will induce some amount of warping." />
        <app-reset-button [canReset]="settings.distortionZoom!=defaults.distortionZoom"
            (resetClick)="resetOption('distortionZoom')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.distortionZoom" step="0.002" (ngModelChange)="saveConfigSettings()"
            type="number">
        <mat-slider max="1.1" min="0.9" step="0.002" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.distortionZoom" (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
@if(defaults.colorMultiplier){
<div class="field">
    <div class="title">
        <span i18n>Color Tint</span>
        <app-field-tip i18n-info
            info="Adjusts the color of the headset. This can also be used to decrease or increase the brightness of the scene." />
        <app-reset-button [canReset]="settings.colorMultiplier.r != defaults.colorMultiplier.r || settings.colorMultiplier.g != defaults.colorMultiplier.g || settings.colorMultiplier.b != defaults.colorMultiplier.b"
            (resetClick)="resetOption('colorMultiplier')"></app-reset-button>
    </div>
    <div class="control">
        <app-color-picker style="width: 100%" [(color)]="settings.colorMultiplier" (colorChange)="saveConfigSettings()">
        </app-color-picker>
    </div>
</div>
}
<div class="field">
    <div class="section-title">
        <span i18n>Stationary Dimming Settings</span>
        <app-field-tip i18n-info
            info="This feature automatically dims the display to protect the panel from screen burn-in when the headset is stationary. The display remains bright for the movement time whenever it is moved more than the threshold'." />
    </div>
</div>
@if(defaults.stationaryDimming){
<div class="field">
    <div class="title">
        <span i18n>Enable Stationary Dimming</span>
        <app-field-tip i18n-info
            info="Enables or disables the stationary dimming feature." />
        <app-reset-button [canReset]="settings.stationaryDimming.enable!=defaults.stationaryDimming.enable"
            (resetClick)="nested('stationaryDimming').resetOption('enable')"></app-reset-button>
    </div>
    <div class="control">
        @if(settings.stationaryDimming){
        <mat-slide-toggle [(ngModel)]="settings.stationaryDimming.enable"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
        }@else {
        <span i18n>Check driver update and launch SteamVR</span>
        }
    </div>
</div>
@if(settings.stationaryDimming&&settings.stationaryDimming.enable){

<div class="field">
    <div class="title">
        <span i18n>Movement Threshold Degrees</span>
        <app-field-tip i18n-info
            info="The minimum amount of rotation in degrees that will reset the stationary dimming timer." />
        <app-reset-button
            [canReset]="settings.stationaryDimming.movementThreshold!=defaults.stationaryDimming.movementThreshold"
            (resetClick)="nested('stationaryDimming').resetOption('movementThreshold')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.stationaryDimming.movementThreshold" step="0.1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="10" min="0" step="0.1">
            <input matSliderThumb [(ngModel)]="settings.stationaryDimming.movementThreshold"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Movement Time</span>
        <app-field-tip i18n-info
            info="The amount of time in seconds that the display will remain bright after movement." />
        <app-reset-button
            [canReset]="settings.stationaryDimming.movementTime!=defaults.stationaryDimming.movementTime"
            (resetClick)="nested('stationaryDimming').resetOption('movementTime')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.stationaryDimming.movementTime" step="1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="30" min="1" step="0.5" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.stationaryDimming.movementTime"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Dim Brightness Percent</span>
        <app-field-tip i18n-info
            info="The minimum brightness percentage that the display will dim to when stationary." />
        <app-reset-button
            [canReset]="settings.stationaryDimming.dimBrightnessPercent!=defaults.stationaryDimming.dimBrightnessPercent"
            (resetClick)="nested('stationaryDimming').resetOption('dimBrightnessPercent')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.stationaryDimming.dimBrightnessPercent" step="0.1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="50" min="0" step="0.1">
            <input matSliderThumb [(ngModel)]="settings.stationaryDimming.dimBrightnessPercent"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Dim Seconds</span>
        <app-field-tip i18n-info
            info="The amount of time it takes to go from bright to dim." />
        <app-reset-button [canReset]="settings.stationaryDimming.dimSeconds!=defaults.stationaryDimming.dimSeconds"
            (resetClick)="nested('stationaryDimming').resetOption('dimSeconds')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.stationaryDimming.dimSeconds" step="0.5"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="60" min="1" step="0.5">
            <input matSliderThumb [(ngModel)]="settings.stationaryDimming.dimSeconds"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Brighten Seconds</span>
        <app-field-tip i18n-info
            info="The amount of time it takes to go from dim to bright." />
        <app-reset-button
            [canReset]="settings.stationaryDimming.brightenSeconds!=defaults.stationaryDimming.brightenSeconds"
            (resetClick)="nested('stationaryDimming').resetOption('brightenSeconds')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.stationaryDimming.brightenSeconds" step="0.5"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="60" min="1" step="0.5">
            <input matSliderThumb [(ngModel)]="settings.stationaryDimming.brightenSeconds"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
}
}
<div class="field">
    <div class="section-title">
        <span i18n>Hidden Area Mesh Settings</span>
        <a href="https://github.com/sboys3/CustomHeadsetOpenVR/wiki/Hidden-Area-Mesh-Configuration-Guide" target="_blank" style="color: currentColor;"><app-field-tip i18n-info
            info="Any changes to these settings will require a game restart to be visible. The hidden area meshes are used to mask out the corners of the screen. They can increase performance in games that use them. Click for more information." /></a>
    </div>
</div>
@if(defaults.hiddenArea){
<div class="field">
    <div class="title">
        <span i18n>Enable Hidden Area Meshes</span>
        <app-field-note type="gameRestart" />
        <app-field-tip i18n-info
            info="Enables or disables the hidden area meshes." />
        <app-reset-button [canReset]="settings.hiddenArea.enable!=defaults.hiddenArea.enable"
            (resetClick)="nested('hiddenArea').resetOption('enable')"></app-reset-button>
    </div>
    <div class="control">
        @if(settings.hiddenArea){
        <mat-slide-toggle [(ngModel)]="settings.hiddenArea.enable"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
        }@else {
        <span i18n>Check driver update and launch SteamVR</span>
        }
    </div>
</div>

@if(settings.hiddenArea&&settings.hiddenArea.enable){

<div class="field">
    <div class="title">
        <span i18n>Test Mode</span>
        <app-field-note type="gameRestart" />
        <app-field-tip i18n-info info="Inverts the meshes to only show the areas that will be hidden." />
        <app-reset-button [canReset]="settings.hiddenArea.testMode!=defaults.hiddenArea.testMode"
            (resetClick)="nested('hiddenArea').resetOption('testMode')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.hiddenArea.testMode"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Radius Top Inner</span>
        <app-field-note type="gameRestart" />
        <app-field-tip i18n-info
            info="The radius of the visible area at the top of the hidden area mesh near your nose." />
        <app-reset-button [canReset]="settings.hiddenArea.radiusTopInner!=defaults.hiddenArea.radiusTopInner"
            (resetClick)="nested('hiddenArea').resetOption('radiusTopInner')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.hiddenArea.radiusTopInner" step="1" (ngModelChange)="saveConfigSettings()"
            type="number">
        <mat-slider max="0.5" min="0.0" step="0.05">
            <input matSliderThumb [(ngModel)]="settings.hiddenArea.radiusTopInner"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Radius Bottom Inner</span>
        <app-field-note type="gameRestart" />
        <app-field-tip i18n-info
            info="The radius of the visible area at the bottom of the hidden area mesh near your nose." />
        <app-reset-button [canReset]="settings.hiddenArea.radiusBottomInner!=defaults.hiddenArea.radiusBottomInner"
            (resetClick)="nested('hiddenArea').resetOption('radiusBottomInner')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.hiddenArea.radiusBottomInner" step="1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="0.5" min="0.0" step="0.05">
            <input matSliderThumb [(ngModel)]="settings.hiddenArea.radiusBottomInner"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Radius Top Outer</span>
        <app-field-note type="gameRestart" />
        <app-field-tip i18n-info
            info="The radius of the visible area at the top of the hidden area mesh near your ears." />
        <app-reset-button [canReset]="settings.hiddenArea.radiusTopOuter!=defaults.hiddenArea.radiusTopOuter"
            (resetClick)="nested('hiddenArea').resetOption('radiusTopOuter')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.hiddenArea.radiusTopOuter" step="1" (ngModelChange)="saveConfigSettings()"
            type="number">
        <mat-slider max="0.5" min="0.0" step="0.05">
            <input matSliderThumb [(ngModel)]="settings.hiddenArea.radiusTopOuter"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Radius Bottom Outer</span>
        <app-field-note type="gameRestart" />
        <app-field-tip i18n-info
            info="The radius of the visible area at the bottom of the hidden area mesh near your ears." />
        <app-reset-button [canReset]="settings.hiddenArea.radiusBottomOuter!=defaults.hiddenArea.radiusBottomOuter"
            (resetClick)="nested('hiddenArea').resetOption('radiusBottomOuter')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.hiddenArea.radiusBottomOuter" step="1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="0.5" min="0.0" step="0.05">
            <input matSliderThumb [(ngModel)]="settings.hiddenArea.radiusBottomOuter"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Mesh Detail</span>
        <app-field-note type="gameRestart" />
        <app-field-tip i18n-info
            info="The number of vertices used to create each section of the hidden area mesh. Higher values increase the smoothness of the mesh." />
        <app-reset-button [canReset]="settings.hiddenArea.detailLevel!=defaults.hiddenArea.detailLevel"
            (resetClick)="nested('hiddenArea').resetOption('detailLevel')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.hiddenArea.detailLevel" step="1" (ngModelChange)="saveConfigSettings()"
            type="number">
        <mat-slider max="32" min="1" step="1">
            <input matSliderThumb [(ngModel)]="settings.hiddenArea.detailLevel" (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
}
}
@if(advanceMode()){

<div class="field">
    <div class="section-title">
        <span i18n>Advanced Settings</span>
        <app-field-tip i18n-info
            info="These settings have defaults that should not need to be changed but are provided for experimentation." />
    </div>
</div>

<div class="field">
    <div class="title">
        <span i18n>Black Level</span>
        <app-field-tip i18n-info
            info="The minimum brightness level that the display will reach. Increase this if you love the smeary grey of LCD headsets." />
        <app-reset-button [canReset]="settings.blackLevel!=defaults.blackLevel"
            (resetClick)="resetOption('blackLevel')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.blackLevel" step="0.001" (ngModelChange)="saveConfigSettings()"
            type="number">
        <mat-slider max="1" min="0" step="0.001" >
            <input matSliderThumb [(ngModel)]="settings.blackLevel" (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>IPD Offset</span>
        <app-field-tip i18n-info
            info="This value is added to the IPD value. Just use the main ipd slider and leave this 0. This will probably be removed soon." />
        <app-reset-button [canReset]="settings.ipdOffset!=defaults.ipdOffset"
            (resetClick)="resetOption('ipdOffset')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.ipdOffset" step="0.5" (ngModelChange)="saveConfigSettings()"
            type="number">
        <mat-slider max="20" min="-20" step="0.5" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.ipdOffset" (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Subpixel Shift</span>
        <app-field-tip i18n-info
            info="Shifts the subpixels of the display using the UV distortions to improve color fringing and sharpness. The default is correct for the oled panel." />
        <app-reset-button [canReset]="settings.subpixelShift!=defaults.subpixelShift"
            (resetClick)="resetOption('subpixelShift')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.subpixelShift" (ngModelChange)="saveConfigSettings()" type="number"
            step="0.01">
        <mat-select [(ngModel)]="settings.subpixelShift" (ngModelChange)="saveConfigSettings()">
            @for(opt of subpixelShiftOptions;track opt){
            <mat-option [value]="opt">{{opt|number}}</mat-option>
            }
        </mat-select>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Distortion Mesh Resolution</span>
        <app-field-tip i18n-info
            info="The resolution of the distortion mesh. Higher values prevent small wavy artifacts in the corners of the lenses but makes other settings laggier. The default pretty much eliminates the artifacts." />
        <app-reset-button [canReset]="settings.distortionMeshResolution!=defaults.distortionMeshResolution"
            (resetClick)="resetOption('distortionMeshResolution')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.distortionMeshResolution" (ngModelChange)="saveConfigSettings()"
            type="number" step="16">
        <mat-select [(ngModel)]="settings.distortionMeshResolution" (ngModelChange)="saveConfigSettings()">
            @for(opt of distortionMeshResolutionOptions;track opt){
            <mat-option [value]="opt">{{distortionMeshResolutionOptionsText[opt]}}</mat-option>
            }
        </mat-select>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>FOV Burn-In Prevention</span>
        <app-field-tip i18n-info
            info="Randomly adds up to 3 degrees to the FOV on every run to prevent sharp burn in at the edge of the fov on the display. It is recommended you do not turn this off in case you or the next person wants to increase the fov." />
        <app-reset-button [canReset]="settings.fovBurnInPrevention!=defaults.fovBurnInPrevention"
            (resetClick)="resetOption('fovBurnInPrevention')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.fovBurnInPrevention"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Render Resolution Width Multiplier</span>
        <app-field-tip i18n-info
            info="The multiplier for the 100% render resolution width. This allows you to change the aspect ratio of the resolution as well as reach resolutions outside the 20%-500% range of the SteamVR slider. This may require a restart to apply." />
        <app-reset-button [canReset]="settings.renderResolutionMultiplierX!=defaults.renderResolutionMultiplierX"
            (resetClick)="resetOption('renderResolutionMultiplierX')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.renderResolutionMultiplierX" step="0.05"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="2" min="0.1" step="0.05" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.renderResolutionMultiplierX"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Render Resolution Height Multiplier</span>
        <app-field-tip i18n-info
            info="The multiplier for the 100% render resolution height. This allows you to change the aspect ratio of the resolution as well as reach resolutions outside the 20%-500% range of the SteamVR slider. This may require a restart to apply." />
        <app-reset-button [canReset]="settings.renderResolutionMultiplierY!=defaults.renderResolutionMultiplierY"
            (resetClick)="resetOption('renderResolutionMultiplierY')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.renderResolutionMultiplierY" step="0.05"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="2" min="0.1" step="0.05" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.renderResolutionMultiplierY"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Super Sampling Filter Percent</span>
        <app-field-note type="gameRestart" />
        <app-field-tip i18n-info
            info="The percentage of the 1:1 resolution that the super sampling downscale area filter is applied. The subpixel shifts with the custom shader can make use of the 500% resolution above 1:1. Without subpixel sampling this value can be lowered to downscale the input so that all pixels contribute to the output. Toggling off advanced supersample filtering in SteamVR will disable this." />
        <app-reset-button [canReset]="settings.superSamplingFilterPercent!=defaults.superSamplingFilterPercent"
            (resetClick)="resetOption('superSamplingFilterPercent')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.superSamplingFilterPercent" step="10"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="1000" min="50" step="10">
            <input matSliderThumb [(ngModel)]="settings.superSamplingFilterPercent"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Seconds From VSync to Photons</span>
        <app-field-tip i18n-info
            info="The time it takes for the display to update after the GPU has finished rendering. This is used to calculate the time warp correction. Setting it too high or low causes tracking to overshoot or undershoot which makes tracking more jittery." />
        <app-reset-button [canReset]="settings.secondsFromVsyncToPhotons!=defaults.secondsFromVsyncToPhotons"
            (resetClick)="resetOption('secondsFromVsyncToPhotons')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.secondsFromVsyncToPhotons" step="0.0005"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="0.02" min="0" step="0.0005" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.secondsFromVsyncToPhotons"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Seconds From Photons to Vblank</span>
        <app-field-note type="steamvrRestart" />
        <app-field-tip i18n-info
            info="The time it takes for the display to show the first and last line. This is to combat the same effect you see on yor desktop if you follow a window while you quickly move it side to side." />
        <app-reset-button [canReset]="settings.secondsFromPhotonsToVblank!=defaults.secondsFromPhotonsToVblank"
            (resetClick)="resetOption('secondsFromPhotonsToVblank')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.secondsFromPhotonsToVblank" step="0.00025"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="0.01" min="0" step="0.00025" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.secondsFromPhotonsToVblank"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Eye Rotation</span>
        <app-field-tip i18n-info
            info="The angle each eye is rotated outwards. With some training it might allow increasing FOV at the expense if binocular overlap and comfort. For every 1 degree this is increased 2 degrees of fov are added. This will mess with your eyes in and out of VR unless you do some extreme modding to the headset." />
        @if(settings.eyeRotation){
        &nbsp;&nbsp;
        <mat-icon class="warn-color-flash" matTooltip="This may cause vision problems outside of the headset.">warning</mat-icon>
        }
        <app-reset-button [canReset]="settings.eyeRotation!=defaults.eyeRotation"
            (resetClick)="resetOption('eyeRotation')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.eyeRotation" step="0.1" (ngModelChange)="saveConfigSettings()"
            type="number">
        <mat-slider max="15" min="-15" step="0.1">
            <input matSliderThumb [(ngModel)]="settings.eyeRotation" (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Disable Eye</span>
        <app-field-note type="gameRestart" />
        <app-field-tip i18n-info
            info="Disables an eye. This can provide more performance to the remaining eye once the game is restarted. Eyes can not be completely disabled in SteamVR so this covers the entire eye with the hidden area mesh. The hidden area mesh change does require a restart and may black out the desktop view. It can also sets the FOV extremely low when disableEyeDecreaseFov is manually set in settings.json, but that can cause issues." />
        <app-reset-button [canReset]="settings.disableEye!=defaults.disableEye"
            (resetClick)="resetOption('disableEye')"></app-reset-button>
    </div>
    <div class="control">
        <mat-select [(ngModel)]="settings.disableEye" (ngModelChange)="saveConfigSettings()">
            @for(opt of disableEyeOptions;track opt){
            <mat-option [value]="opt.value">{{opt.name}}</mat-option>
            }
        </mat-select>
    </div>
</div>
@if(settings.disableEye!=0){
<div class="field">
    <div class="title">
        <span i18n>Decrease FOV for Disabled Eye</span>
        <app-field-tip i18n-info
            info="Set the FOV to near zero for the disabled eye. By decreasing the FOV, occlusion culling may be able to decrease the rendering load. This can cause issues with some games." />
        <app-reset-button [canReset]="settings.disableEyeDecreaseFov!=defaults.disableEyeDecreaseFov"
            (resetClick)="resetOption('disableEyeDecreaseFov')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.disableEyeDecreaseFov"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
}

}
}
}