<div class="control">
	@if(useHSV()){
	<div class="color-picker-component">
		<span class="color-picker-label">H</span>
		<input matInput [(ngModel)]="colorHSV.r" (ngModelChange)="colorInputChangedHSV()" type="number"
			step="0.011111" />
		<input class="slider-hue" [(ngModel)]="colorHSV.r" (ngModelChange)="colorInputChangedHSV()" type="range" min="0"
			max="1" step="0.011111" />
	</div>
	<div class="color-picker-component">
		<span class="color-picker-label">S</span>
		<input matInput [(ngModel)]="colorHSV.g" (ngModelChange)="colorInputChangedHSV()" type="number" step="0.01" />
		<input class="slider-saturation" [(ngModel)]="colorHSV.g" (ngModelChange)="colorInputChangedHSV()" type="range"
			min="0" max="1" step="0.01" />
	</div>
	<div class="color-picker-component">
		<span class="color-picker-label">V</span>
		<input matInput [(ngModel)]="colorHSV.b" (ngModelChange)="colorInputChangedHSV()" type="number" step="0.01" />
		<input class="slider-brightness" [(ngModel)]="colorHSV.b" (ngModelChange)="colorInputChangedHSV()" type="range"
			min="0.01" max="3" step="0.01" />
	</div>
	<div class="color-picker-component scale-container">
		<div class="place-holder"></div>
		<div class="scale">
			<span class="label">0x</span>
			<div class="line"></div>
			<span class="label">1x</span>
			<div class="dash"></div>
			<span class="label">3x</span>
		</div>
	</div>


	}
	@else{
	<div class="color-picker-component">
		<span class="color-picker-label">R</span>
		<input matInput [(ngModel)]="colorValue.r" (ngModelChange)="colorInputChanged()" type="number" step="0.01" />
		<input class="slider-red" [(ngModel)]="colorValue.r" (ngModelChange)="colorInputChanged()" type="range" min="0"
			max="2" step="0.01" />
	</div>
	<div class="color-picker-component">
		<span class="color-picker-label">G</span>
		<input matInput [(ngModel)]="colorValue.g" (ngModelChange)="colorInputChanged()" type="number" step="0.01" />
		<input class="slider-green" [(ngModel)]="colorValue.g" (ngModelChange)="colorInputChanged()" type="range"
			min="0" max="2" step="0.01" />
	</div>
	<div class="color-picker-component">
		<span class="color-picker-label">B</span>
		<input matInput [(ngModel)]="colorValue.b" (ngModelChange)="colorInputChanged()" type="number" step="0.01" />
		<input class="slider-blue" [(ngModel)]="colorValue.b" (ngModelChange)="colorInputChanged()" type="range" min="0"
			max="2" step="0.01" />
	</div>
	}
</div>
@if(showColorDisplay()){
<div class="color-display">

</div>
}