<app-headset-settings [config]="headsetConfig" [driverName]="headsetConfig.driverName" [settingField]="headsetConfig.settingField" [headsetType]="HeadsetType.CrystalSuper57PPD" (navigateToGeneralTab)="navigateToGeneralTab.emit()">
  <div headset-settings-content>
    <div class="distortion-warning">
      <mat-icon>warning</mat-icon>
      <span i18n>The distortion profiles are completely wrong for the Crystal Super 57PPD.</span>
    </div>

    <app-pimax-launcher></app-pimax-launcher>
  </div>
  <div headset-settings-end>
    <app-pimax-slam-settings [settingField]="'crystalSuper57PPD'"></app-pimax-slam-settings>
  </div>
</app-headset-settings>