@use '../../../simple-form.scss' as sf;

app-system-ready {
    @include sf.formStyle();
}
.italic {
    font-style: italic;
}

h5 {
    font-weight: normal;
    margin: 0;
    padding-bottom: 0.5rem;
    z-index: 1;
    background-color: var(--mat-sys-surface);
}

.dirver-warning {
    margin-left: auto;
    display: flex;
    align-items: center;

    >*:not(:last-child) {
        margin-right: 0.5rem;
    }
}

.page-disabled {
    .field:not(.ignore-disable) {
        opacity: 0.5;
    }
}