@if(settings){
<div class="field">
    <div class="title">
        <span i18n>Resolution</span>
        @if(resolutionModel?.x!=defaults?.resolutionX){
        <button mat-icon-button (click)="resetResolution()" matTooltip="Reset to default" i18n-matTooltip>
            <mat-icon class="tertiary-color">refresh</mat-icon>
        </button>
        }
    </div>
    <div class="control">
        <mat-select [(ngModel)]="resolutionModel" (closed)="setResolution()" (valueChange)="saveConfigSettings()">
            @for(p of resolutionOptions;track p.x){
            <mat-option [value]="p">{{p.name}}&nbsp;({{p.x}}x{{p.y}})</mat-option>
            }
        </mat-select>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Distortion Profile</span>
        @if(settings.distortionProfile!=defaults?.distortionProfile){
        <button mat-icon-button (click)="resetOption('distortionProfile')" matTooltip="Reset to default"
            i18n-matTooltip>
            <mat-icon class="tertiary-color">refresh</mat-icon>
        </button>
        }
    </div>
    <div class="control">
        <mat-select [(ngModel)]="settings.distortionProfile" (closed)="saveConfigSettings()"
            (valueChange)="saveConfigSettings()">
            @for(p of profiles;track p.name){
            <mat-option [value]="p.name">{{p.name}}</mat-option>
            }
        </mat-select>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>IPD</span>
        @if(settings.ipd!=defaults?.ipd){
        <button mat-icon-button (click)="resetOption('ipd')" matTooltip="Reset to default" i18n-matTooltip>
            <mat-icon class="tertiary-color">refresh</mat-icon>
        </button>
        }
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.ipd" step="0.5" (input)="saveConfigSettings()" type="number">
        <mat-slider max="80" min="50" step="0.5" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.ipd" (input)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>IPD Offset</span>
        @if(settings.ipdOffset!=defaults?.ipdOffset){
        <button mat-icon-button (click)="resetOption('ipdOffset')" matTooltip="Reset to default" i18n-matTooltip>
            <mat-icon class="tertiary-color">refresh</mat-icon>
        </button>
        }
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.ipdOffset" step="0.5" (input)="saveConfigSettings()" type="number">
        <mat-slider max="20" min="-20" step="0.5" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.ipdOffset" (input)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Distortion Zoom</span>
        @if(settings.distortionZoom!=defaults?.distortionZoom){
        <button mat-icon-button (click)="resetOption('distortionZoom')" matTooltip="Reset to default" i18n-matTooltip>
            <mat-icon class="tertiary-color">refresh</mat-icon>
        </button>
        }
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.distortionZoom" step="0.002" (input)="saveConfigSettings()" type="number">
        <mat-slider max="1.1" min="1" step="0.002" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.distortionZoom" (input)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Black Level</span>
        @if(settings.blackLevel!=defaults?.blackLevel){
        <button mat-icon-button (click)="resetOption('blackLevel')" matTooltip="Reset to default" i18n-matTooltip>
            <mat-icon class="tertiary-color">refresh</mat-icon>
        </button>
        }
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.blackLevel" step="0.001" (input)="saveConfigSettings()" type="number">
        <mat-slider max="1" min="0" step="0.001" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.blackLevel" (input)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>

@if(advanceMode()){
<div class="field">
    <div class="title">
        <span i18n>Subpixel Shift</span>
        @if(settings.subpixelShift!=defaults?.subpixelShift){
        <button mat-icon-button (click)="resetOption('subpixelShift')" matTooltip="Reset to default" i18n-matTooltip>
            <mat-icon class="tertiary-color">refresh</mat-icon>
        </button>
        }
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.subpixelShift" (input)="saveConfigSettings()" type="number" step="0.01">
        <mat-select [(ngModel)]="settings.subpixelShift" (closed)="saveConfigSettings()" (valueChange)="saveConfigSettings()">
            @for(opt of subpixelShiftOptions;track opt){
            <mat-option [value]="opt">{{opt|number}}</mat-option>
            }
        </mat-select>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Max Fov Horizontal</span>
        @if(settings.maxFovX!=defaults?.maxFovX){
        <button mat-icon-button (click)="resetOption('maxFovX')" matTooltip="Reset to default" i18n-matTooltip>
            <mat-icon class="tertiary-color">refresh</mat-icon>
        </button>
        }
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.maxFovX" step="1" (input)="saveConfigSettings()" type="number">
        <mat-slider [max]="(defaults?.maxFovX??0)*2" min="0" step="1">
            <input matSliderThumb [(ngModel)]="settings.maxFovX" (input)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Max Fov Vertical</span>
        @if(settings.maxFovY!=defaults?.maxFovY){
        <button mat-icon-button (click)="resetOption('maxFovY')" matTooltip="Reset to default" i18n-matTooltip>
            <mat-icon class="tertiary-color">refresh</mat-icon>
        </button>
        }
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.maxFovY" step="1" (input)="saveConfigSettings()" type="number">
        <mat-slider [max]="(defaults?.maxFovY??0)*2" min="0" step="1">
            <input matSliderThumb [(ngModel)]="settings.maxFovY" (input)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Distortion Mesh Resolution</span>
        @if(settings.distortionMeshResolution!=defaults?.distortionMeshResolution){
        <button mat-icon-button (click)="resetOption('distortionMeshResolution')" matTooltip="Reset to default"
            i18n-matTooltip>
            <mat-icon class="tertiary-color">refresh</mat-icon>
        </button>
        }
    </div>
    <div class="control">
        <mat-select [(ngModel)]="settings.distortionMeshResolution" (closed)="saveConfigSettings()"
            (valueChange)="saveConfigSettings()">
            @for(opt of distortionMeshResolutionOptions;track opt){
            <mat-option [value]="opt">{{distortionMeshResolutionOptionsText[opt]}}</mat-option>
            }
        </mat-select>
    </div>
</div>
}
}@else {
<h2 i18n>Setting file not found , please install CustomHeadsetOpenVR driver and launch steamVR</h2>
}