@use '../../../simple-form.scss' as sf;

:host {
    @include sf.formStyle();
}

.italic {
    font-style: italic;
}

h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: normal;

}