@use '../../../simple-form.scss' as sf;

app-system-ready {
    @include sf.formStyle();
}
.italic {
    font-style: italic;
}
.dirver-warning {
    margin-left: auto;
    display: flex;
    align-items: center;

    >*:not(:last-child) {
        margin-right: 0.5rem;
    }
}

.page-disabled {
    .field:not(.ignore-disable) {
        opacity: 0.5;
    }
}