:host {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

mat-tab-nav-panel {
    position: relative;
    display: block;
    flex: 1 1 auto;
    overflow: auto;
    min-height: 0;
    padding: 0.3rem;

    ::ng-deep>* {
        width: calc(100% - 0.6rem);
    }
}