:host {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

mat-tab-nav-panel {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
    min-height: 0;
    

    ::ng-deep>*:not(router-outlet) {
        flex: 1 1 auto;
        min-width: 0;
    }
}