<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  @for(l of navigation;track l){
  <a mat-tab-link [routerLink]="l.route" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    {{l.name}}
  </a>
  }
  <a mat-tab-link routerLink="about" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    <span i18n>About</span>
    @if(appUpdateService.updateInfo()?.updateAvailable || appUpdateService.updateInfo()?.installAvailable){
      <mat-icon class="warn-color">priority_high</mat-icon>
    }
  </a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>