<!-- <div class="dream-air-warning">
  <mat-icon class="warn-color" style="vertical-align: middle;">warning</mat-icon>
  <span i18n>This page is currently non-functional. Waiting on Pimax to make Dream Air support possible.</span>
</div> -->

<app-pimax-launcher></app-pimax-launcher>

<app-headset-settings [config]="headsetConfig" [driverName]="headsetConfig.driverName" [settingField]="headsetConfig.settingField" [headsetType]="HeadsetType.DreamAir" (navigateToGeneralTab)="navigateToGeneralTab.emit()"></app-headset-settings>