@if(settings){
@if(defaults){
<div class="field">
    <div class="section-title">
        <span i18n>Custom Shader</span>
        <app-field-tip i18n-info
            info="Replaces the distortion shader in SteamVR's compositor with a custom one that allows for more customization." />
    </div>
</div>
@if(defaults.customShader){
<div class="field">
    <div class="title">
        <span i18n>Enable Custom Shader</span>
        <app-field-tip i18n-info
            info="Enables the custom shader. This will replace shaders in SteamVR." />
        <app-reset-button [canReset]="settings.customShader.enable!=defaults.customShader.enable"
            (resetClick)="nested('customShader').resetOption('enable')"></app-reset-button>
    </div>
    <div class="control">
        @if(settings.customShader){
        <mat-slide-toggle [(ngModel)]="settings.customShader.enable"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
        }@else {
        <span i18n>Check driver update and launch SteamVR</span>
        }
    </div>
</div>
@if(settings.customShader.enable){
<div class="field">
    <div class="note">
        <mat-icon class="warn-color" style="vertical-align: middle;">warning</mat-icon><span i18n>This custom shader has the possibility to completely break SteamVR after a future SteamVR update. Valve has no obligation to maintain compatibility with this modification. Disable it if you have issues or compatibility problems.</span>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Contrast</span>
        <app-field-tip i18n-info
            info="Adjusts the contrast of the image. When higher than 50, the colors in the image will be expanded away from the midpoint. When lower than 50, the colors in the image will be contracted towards the midpoint." />
        <app-reset-button
            [canReset]="settings.customShader.contrast!=defaults.customShader.contrast"
            (resetClick)="nested('customShader').resetOption('contrast')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.customShader.contrast" step="0.1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="100" min="1" step="0.1" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.customShader.contrast"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Contrast Midpoint</span>
        <app-field-tip i18n-info
            info="Adjusts the midpoint of the contrast. This controls the center of the contrast adjustment. For example when this is 100 all colors will move towards or away from white. When this is 0 all colors will move towards or away from black, which gives a brightening or darkening effect." />
        <app-reset-button
            [canReset]="settings.customShader.contrastMidpoint!=defaults.customShader.contrastMidpoint"
            (resetClick)="nested('customShader').resetOption('contrastMidpoint')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.customShader.contrastMidpoint" step="0.1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="100" min="0" step="0.1" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.customShader.contrastMidpoint"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Linear Contrast</span>
        <app-field-tip i18n-info
            info="Applies linear contrast to the image before gamma correction instead of after Generally contrast looks better with this option off but it can be useful for some effects." />
        <app-reset-button
            [canReset]="settings.customShader.contrastLinear!=defaults.customShader.contrastLinear"
            (resetClick)="nested('customShader').resetOption('contrastLinear')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.customShader.contrastLinear"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Per Eye Contrast</span>
        <app-field-tip i18n-info
            info="Applies contrast to each eye separately which allows you to correct for differences in displays. This will be applied in addition to the above contrast." />
        <app-reset-button
            [canReset]="settings.customShader.contrastPerEye!=defaults.customShader.contrastPerEye"
            (resetClick)="nested('customShader').resetOption('contrastPerEye')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.customShader.contrastPerEye"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
@if(settings.customShader.contrastPerEye){
<div class="field">
    <div class="title">
        <span i18n>Linear Per Eye Contrast</span>
        <app-reset-button
            [canReset]="settings.customShader.contrastPerEyeLinear!=defaults.customShader.contrastPerEyeLinear"
            (resetClick)="nested('customShader').resetOption('contrastPerEyeLinear')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.customShader.contrastPerEyeLinear"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Contrast Left Eye</span>
        <app-reset-button
            [canReset]="settings.customShader.contrastLeft!=defaults.customShader.contrastLeft"
            (resetClick)="nested('customShader').resetOption('contrastLeft')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.customShader.contrastLeft" step="0.1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="100" min="1" step="0.1" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.customShader.contrastLeft"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Contrast Midpoint Left Eye</span>
        <app-reset-button
            [canReset]="settings.customShader.contrastMidpointLeft!=defaults.customShader.contrastMidpointLeft"
            (resetClick)="nested('customShader').resetOption('contrastMidpointLeft')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.customShader.contrastMidpointLeft" step="0.1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="100" min="0" step="0.1" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.customShader.contrastMidpointLeft"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Contrast Right Eye</span>
        <app-reset-button
            [canReset]="settings.customShader.contrastRight!=defaults.customShader.contrastRight"
            (resetClick)="nested('customShader').resetOption('contrastRight')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.customShader.contrastRight" step="0.1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="100" min="1" step="0.1" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.customShader.contrastRight"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Contrast Midpoint Right Eye</span>
        <app-reset-button
            [canReset]="settings.customShader.contrastMidpointRight!=defaults.customShader.contrastMidpointRight"
            (resetClick)="nested('customShader').resetOption('contrastMidpointRight')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.customShader.contrastMidpointRight" step="0.1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="100" min="0" step="0.1" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.customShader.contrastMidpointRight"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
}
<div class="field">
    <div class="title">
        <span i18n>Chroma</span>
        <app-field-tip i18n-info
            info="Adjusts the chroma of the image. When higher than 50, the colors in the image will be exaggerated. When lowered all the way to 0 the image will be grayscale." />
        <app-reset-button [canReset]="settings.customShader.chroma!=defaults.customShader.chroma"
            (resetClick)="nested('customShader').resetOption('chroma')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.customShader.chroma" step="0.1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="100" min="0" step="0.1" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.customShader.chroma"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Gamma</span>
        <app-field-tip i18n-info
            info="Adjusts the gamma of the image. This controls brightness is mapped to the display's brightness. Higher gamma values make darker areas of the image brighter." />
        <app-reset-button [canReset]="settings.customShader.gamma!=defaults.customShader.gamma"
            (resetClick)="nested('customShader').resetOption('gamma')"></app-reset-button>
    </div>
    <div class="control">
        <input matInput [(ngModel)]="settings.customShader.gamma" step="0.1"
            (ngModelChange)="saveConfigSettings()" type="number">
        <mat-slider max="4" min="0.1" step="0.1" showTickMarks>
            <input matSliderThumb [(ngModel)]="settings.customShader.gamma"
                (ngModelChange)="saveConfigSettings()">
        </mat-slider>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Subpixel Shift</span>
        <app-field-tip i18n-info
            info="Samples subpixels from the correct locations in the image to improve sharpness by lighting up individual subpixels. This can have a remarkable effect on the MeganeX where it can extract detail from more than 300% of the 1:1 resolution. The Vive is also supported but the improvement is less noticeable." />
        <app-reset-button [canReset]="settings.customShader.subpixelShift!=defaults.customShader.subpixelShift"
            (resetClick)="nested('customShader').resetOption('subpixelShift')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.customShader.subpixelShift"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Disable Mura Correction</span>
        <app-field-tip i18n-info
            info="This forcibly disables the mura correction on any headset that has it like the Vive." />
        <app-reset-button [canReset]="settings.customShader.disableMuraCorrection!=defaults.customShader.disableMuraCorrection"
            (resetClick)="nested('customShader').resetOption('disableMuraCorrection')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.customShader.disableMuraCorrection"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Disable Black Levels</span>
        <app-field-tip i18n-info
            info="Forces the black level clamp to be disabled. This can make headsets like the Vive darker at the expense of more smearing." />
        <app-reset-button [canReset]="settings.customShader.disableBlackLevels!=defaults.customShader.disableBlackLevels"
            (resetClick)="nested('customShader').resetOption('disableBlackLevels')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.customShader.disableBlackLevels"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>sRGB Color Correction</span>
        <app-field-tip i18n-info
            info="Enables sRGB color correction. The MeganeX is a Display-P3 display and normally colors are oversaturated by mapping the srgb outputs of applications to the full color space. When this is enabled, only the srgb portion of the display is used, which can make colors look more accurate." />
        <app-reset-button [canReset]="settings.customShader.srgbColorCorrection!=defaults.customShader.srgbColorCorrection"
            (resetClick)="nested('customShader').resetOption('srgbColorCorrection')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.customShader.srgbColorCorrection"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Lens Color Correction</span>
        <app-field-tip i18n-info
            info="This corrects color uniformity issues created by the lenses. On the MeganeX this fixes the warmer colors in the center of the lenses." />
        <app-reset-button [canReset]="settings.customShader.lensColorCorrection!=defaults.customShader.lensColorCorrection"
            (resetClick)="nested('customShader').resetOption('lensColorCorrection')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.customShader.lensColorCorrection"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>10 Bit Dithering</span>
        <app-field-tip i18n-info
            info="Enables 10 bit dithering. This allows a 10 bit input to be shown on an 8 bit display. Pixels are dithered spatially and temporally to allow more colors to be represented. This works for the MeganeX and all other native headsets but will only have an effect for 10 bit VR applications." />
        <app-reset-button [canReset]="settings.customShader.dither10Bit!=defaults.customShader.dither10Bit"
            (resetClick)="nested('customShader').resetOption('dither10Bit')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.customShader.dither10Bit"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Enable for MeganeX 8K</span>
        <app-field-tip i18n-info
            info="Enables the custom shader for the MeganeX 8K." />
        <app-reset-button
            [canReset]="settings.customShader.enableForMeganeX8K!=defaults.customShader.enableForMeganeX8K"
            (resetClick)="nested('customShader').resetOption('enableForMeganeX8K')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.customShader.enableForMeganeX8K"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
<div class="field">
    <div class="title">
        <span i18n>Enable for Other HMDs</span>
        <app-field-tip i18n-info
            info="Enables the custom shader for all other HMDs. Non-native SteamVR headsets likely won't work yet." />
        <app-reset-button
            [canReset]="settings.customShader.enableForOther!=defaults.customShader.enableForOther"
            (resetClick)="nested('customShader').resetOption('enableForOther')"></app-reset-button>
    </div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.customShader.enableForOther"
            (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
}
}@else{
<div class="field">
    <div class="note">
        <mat-icon class="warn-color" style="vertical-align: middle;">priority_high</mat-icon><span i18n>You need to update your driver to use the custom shader.</span>
    </div>
</div>
}
}
}