@if(wait()){
<h2 i18n>System not ready</h2>
<mat-divider />

<div class="field">
    <div class="title" i18n>SteamVR installation</div>
    <div class="control">
        @if(!sds.steamVRinstalled()){
        <mat-icon class="warn-color">warning</mat-icon>
        <span i18n>SteamVR not installed</span>
        <button mat-stroked-button i18n (click)="installSteamVR()">Install SteamVR</button>
        }@else {
        <mat-icon class="primary-color">check</mat-icon>
        }
    </div>
</div>
<div class="field">
    <div class="title" i18n>Driver installation</div>
    <div class="control">
        @if(!sds.driverInstalled()){
        <mat-icon class="warn-color">warning</mat-icon>
        <span i18n>Driver not installed</span>
        @if(this.sds.steamVRinstalled()){
        <button mat-stroked-button i18n (click)="sds.installDriver()" [disabled]="sds.installingDriver()">Install
            Driver</button>
        }
        }@else {
        <mat-icon class="primary-color">check</mat-icon>
        }
    </div>
</div>
<div class="field">
    <div class="title" i18n>Driver enabled</div>
    <div class="control">
        @if(driverEnablePrompt()){
        <mat-icon class="warn-color">warning</mat-icon>
        <span i18n>Driver not enabled</span>
        @if(this.sds.steamVRinstalled()){
        <button mat-stroked-button i18n (click)="enableDriver()" [disabled]="sds.installingDriver()">Enable
            Driver</button>
        }
        }@else {
        <mat-icon class="primary-color">check</mat-icon>
        }
    </div>
</div>
<div class="field">
    <div class="title" i18n>Driver setting initialization</div>
    <div class="control">
        @if(!dss.values || !dis.values()){
        <mat-icon class="warn-color">warning</mat-icon>
        <span i18n>Driver setting file not found, please launch SteamVR</span>
        @if(sds.steamVRinstalled()){
        <button mat-stroked-button i18n (click)="launchSteamVR()">Launch SteamVR</button>
        }
        }@else {
        <mat-icon class="primary-color">check</mat-icon>
        }
    </div>
</div>
<div class="field">
    <div class="title" i18n>Driver settings invalid</div>
    <div class="control">
        @if(dss.readFileError()){
        <mat-icon class="warn-color">warning</mat-icon>
        <span i18n>Driver settings are not valid</span>
        @if(sds.driverInstalled()){
        <button mat-stroked-button i18n (click)="sds.resetDriverSetting()">Reset Setting</button>
        }
        }@else {
        <mat-icon class="primary-color">check</mat-icon>
        }
    </div>
</div>
}