@if(settings){
<div class="field">
    <div class="title" i18n>Color Scheme</div>
    <div class="control">
        <mat-select [(ngModel)]="settings.colorScheme" (ngModelChange)="saveConfigSettings()"
            (closed)="saveConfigSettings()">
            <mat-option value="system" i18n>System</mat-option>
            <mat-option value="dark" i18n>Dark</mat-option>
            <mat-option value="light" i18n>Light</mat-option>
        </mat-select>
    </div>
</div>
<div class="field">
    <div class="title" i18n>Update Mode</div>
    <div class="control">
        <mat-select [(ngModel)]="settings.updateMode" (ngModelChange)="saveConfigSettings()"
            (closed)="saveConfigSettings()">
            <mat-option value="replace" i18n>Replace</mat-option>
            <mat-option value="rewrite" i18n>Rewrite</mat-option>
        </mat-select>
    </div>
</div>
<div class="field">
    <div class="title" i18n>Advanced Mode</div>
    <div class="control">
        <mat-slide-toggle [(ngModel)]="settings.advanceMode" (ngModelChange)="saveConfigSettings()"></mat-slide-toggle>
    </div>
</div>
}